* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Light mode */
body {
  padding-top: 1vw;
  padding-left: 4.5vw;
  padding-right: 4.5vw;
  color: #454545;
  /* transition: all 250ms ease-in-out; */ /* Added later via script */
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
}

p, li {
  font-size: 16px;
  line-height: 1.3;
  margin: 0.2em;
  position: relative; /* Fixes the weird left margin issue */
  right: 4px;
}

small {
  font-size: 9px;
}

a {
  color: #07a;
  text-decoration: none;
}
a[href="#"] { /* <a href="#"> If a link leads to nowhere, make it red. */
  color: rgb(189, 59, 59);
}
a:hover {
  text-decoration: underline;
}

img#wave {
  height: 40px;
  width: 40px;
  position: relative;
  top: 6px; /* 6px down, to align with the header */
}

div.find-me li {
  position: relative;
  left: -14px; /* Move over to where the bullets would have been */
}
div.find-me li::marker { /* Removes the bullet */
  content: '';
}

button#darkModeButton {
  cursor: pointer;
  margin-top: 1.4vw;
  padding: 0.4em;
  border: none;
  border-radius: 3px;
  background-color: #454545;
  font-size: 16px;
  text-align: center;
  transition: transform 100ms ease-in-out;
}
button#darkModeButton:hover {
  transform: scale(1.09);
  transition: transform 100ms ease-in-out;
}
button#darkModeButton:active {
  transform: scale(0.99);
  transition: transform 40ms ease-in-out;
}

div.ps {
  color: rgb(151, 151, 151);
}
div.ps a {
  color: inherit;
}
div.ps h6 {
  margin-top: 5em;
  font-size: 11px;
  margin-bottom: 0.5em;
}
div.ps p {
  margin-top: 0em!important;
  font-size: 9px;
}

/* Dark mode */
body.dark {
  color: #ffffff;
  background-color: #222222;
}
body.dark a {
  color: rgb(36, 180, 241);
}
body.dark a[href="#"] {
  color: rgb(240, 82, 82);
}
body.dark div.ps a {
  color: inherit;
}