:root {
  /* Whites */
  --white1: #f7f7f7;
  --white2: #d6ddde; /* Default */
  --white3: #a7abac;

  /* Blacks */
  --background1: #36393e; /* Default */
  --background2: #2f3136;
  --background3: #202225;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: var(--background3);
}

body {
  background-color: var(--background1);
  margin-bottom: 60px; /* Margin bottom by footer height */
}

h1 {
  color: var(--white2);
}

.navbar-default {
  background-color: var(--background3);
  border-color: var(--background1);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
  background-color: var(--background1);
  color: var(--white2);
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-default .navbar-nav>.active>a:hover {
  background-color: var(--white1);
  color: var(--background1);
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-default .navbar-nav>li>a {
  color: var(--white3);
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: var(--white1);
  color: var(--background1);
}

.container .jumbotron, .container-fluid .jumbotron {
  background-color: var(--white3);
}